@import "default";

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: $pale-blue;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100vh;
  width: 100vw;

  div.container {
    display: flex;
    justify-content: space-around;
    top: 10%;
    position: relative;
    text-align: center;

    div.center {
      height: 100%;
      width: 25%;
      background-color: rgb(255, 255, 255);
      border-radius: 25px;
      box-shadow: 0 12.5px 12.5px rgba(0, 0, 255, 0.275);

      header {
        img {
          width: 100%;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        }
      }

      section {
        h1 {
          font-size: 1.25rem;
          font-weight: 700;
        }

        p {
          padding: 0 15%;
          font-weight: 500;
          color: gray;
        }
        div {
          height: 15%;
          width: 90%;
          background-color: $very-pale-blue;
          margin: auto;
          border-radius: 15px;
          display: grid;
          grid-template-columns: 20% 50% 30%;

          img {
            margin: 25%;
            margin-left: 30%;
          }
          div {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 10%;

            h4 {
              margin: 0;
              padding-bottom: 3.5%;
              font-size: 1rem;
            }

            p {
              padding: 0;
              margin: 0;
              font-size: 0.85rem;
            }
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $bright-blue;

            &:hover {
              color: $active-color;
              text-decoration: none;
            }
          }
        }
      }

      footer {
        display: grid;
        button {
          margin: 5%;
          margin-left: 5%;
          margin-right: 5%;
          padding: 2.5%;
          width: 90%;
          border: none;
          text-decoration: none;
          border-radius: 7.5px;
          cursor: pointer;
          background-color: transparent;

          &:hover {
            font-weight: 900;
          }

          &.submit {
            color: white;
            background-color: blue;
            box-shadow: 0 12.5px 12.5px rgba(0, 0, 255, 0.275);

            &:hover {
              font-weight: 900;
              background-color: $active-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    div.container {
      display: flex;
      justify-content: space-around;
      top: 10%;
      position: relative;
      text-align: center;

      div.center {
        height: 100%;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 685px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    div.container {
      display: flex;
      justify-content: space-around;
      top: 10%;
      position: relative;
      text-align: center;

      div.center {
        height: 100%;
        width: 75%;
      }
    }
  }
}
